<div class="container header-spacer">
    
    <div class="row">
    <div class="col-md-12">
        &nbsp;
    </div>    
    </div>
        
    <div class="row"> 
    <div class="col-md-3 col-sm-12 col-xs-12 border-right col-divider-right profile-quotes">
        
        {{ drupal_entity('block_content', 17) }}
    </div>
    <div class="col-md-9 col-sm-12 col-xs-12 col-divider-left">
         
        {% if content.body %}
            <h1 class="text-center lpr-champions">Our LPR Champions</h1> 
            <div>{{ content.body }}</div>
        {% endif %}
            <div class="lpr-team-listing">{{ drupal_view('profile_listing', 'lpr_profile_block') }}</div>
    </div>    
    </div>
</div>